.bordecito {
    text-align: right;
    vertical-align: middle;
}

.bordecito ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bordecito li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}


body {
    background-color: #ea8bb3;
}

.info img {
    height: 180px;
    width: 180px;
    float: left;
    border-radius: 50%;
}
<<<<<<< HEAD

.redes {
    background-color: #333;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
=======
.redes{
    display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}
.menu{
    list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrapwrap;
	flex-wrap: nowrap;    
}
.facebook{
    content: "\f09a";
    flex: 1 1 auto;
	line-height: 40px;
	position: relative;
	width: 45px;
	padding: 10px;
>>>>>>> 9c100717fbfb9c7cb6b9254b3f523c852a00a84b
}

.redes img {
    width: 40px;
    padding: 10px;
}

.redes h2 {
    font-size: 15px;
    color: aliceblue;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

.conocimiento img {
    float: left;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}

.proyecto img {
    float: left;
    height: auto;
    width: 400px;
}
